.container {
	display: flex;
	align-items: left;
}
h1 {
	padding: 0%;
	margin-left: -10px;
	line-height: 20px;
	margin-top: 15px;
}
h2 {
	margin-left: 5px;
}
.links {
	margin-left: -15px;
}
button {
	margin-left: 100px;
}
